
.idea
.idea/*
.idea/vcs.xml
.idea.26_aoc.iml
src/__pycache__/
src/__pycache__/**
__pycache__/
/venv/

# this one gets saved in outer folder after mgz installation (delete it, but if you dont at least ignore it)
/mgz.egg-info
/dist/

/backups/
/data_proc/
/data_proc/old/
/data_proc/D4.npy
/data_proc/D4_2.npy
/data_proc/D30.npy
/data_proc/D30_diffs.npy

/r/3/
/r/4/
/r/4_z/
/r/5/
/r/5_z/
/r/unzip_folder/
/r/6_z/
/r/3_z/

/backups/files_to_be_removed.json
/backups/profiles_.json
/backups/profiles__.json
/r/7_z/
/r/8_z/
/src/results/
/data_proc/old/
